*{
  margin:0px;
  padding:0px;
}



.card {
  border: 1px solid black;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.7);
  width: 15%;
  margin: 30px;
  padding: 60px;
  display: flex;
  flex-direction: column;
  gap:10px;
  background-color: white;
}

#card {
  display: flex;
  flex-wrap: wrap; /* added property */
  justify-content: center;
  align-items: center;
}


.card>h1,p{
  text-align: center;
  font-weight:bold;
  color: black;
  font-size:24px;
  font-family:cursive;
}

.card>p{
  font-size:15px;
  font-weight:bold;
  font-family:cursive;
}
 
.newbook_btn {
  position: absolute;
  bottom: 90px; /* or any desired value */
  left:85%;
  transform: translateX(-50%);
}






#btn{
border-radius: 50%;
height:60px;
width:60px;
}


body{
  background:#ECECEC
}

.title-text{
  display:flex;
  flex-direction: column;
  justify-content:center;
  align-items: center;
  font-weight:bold;
  font-size:60px;
 margin:30px;
  color:#000080
}

#book-form{
  color:#800000;
  font-size: 30px;
  margin-left:50px;
  padding:10px;
  background-color:#ECECEC;
  border-radius:10px;
  max-width: 500px;
  padding: 20px;

}
input{
  border:1px solid black;
}


.form-div{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  
 
}


input[type=text] {
  border: 2px solid black;
  border-radius: 4px;
}





/** style page to look like proper website
     fix form so it looks nice when it pops up
*/

.form-title{
  display:flex;
  align-items:center;
  justify-content:center;
  margin-bottom: 10px;
  color:#800000;
 
}